doctype html
    
html

    head
      title About
      
      link(rel='stylesheet', href='index_style.css')
      
    .header
        img(src='Logo_banner.png', style='display: block; margin-right: auto;  width: 10%;')
        .header-right
          a.active(href='firstpage_willowTEST.html') Home
          a(href='about.jade') About
          a(href='#faq') FAQ
          a(href='#contact') Contact
    .header_line
    
    h1  About Us 
    
    body
        h2  Who we are 
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra tincidunt mi, vel bibendum tellus mollis eget. Donec rutrum elit ex, eget viverra nulla mollis eu. Sed nec pharetra nisi, in lobortis mauris. Morbi vitae vestibulum lacus. Aliquam dapibus, ligula et elementum molestie, arcu mi tincidunt massa, eget egestas eros metus et libero. Mauris lectus felis, consectetur non faucibus eget, pulvinar maximus augue. Duis sed porttitor metus. Donec commodo pharetra facilisis. Sed sagittis, eros id fermentum mollis, dui nulla placerat sapien, quis sagittis nunc quam vel augue. Donec tincidunt ultricies quam.
          br
          br
          | Morbi in erat sapien. Donec ullamcorper a tellus nec interdum. Mauris eget gravida dui. Aliquam a leo vel ante fermentum mollis. Duis egestas sapien sed rutrum finibus. Nulla maximus laoreet dui, nec consequat magna ullamcorper sed. Pellentesque dictum massa rhoncus diam mollis consectetur. Pellentesque scelerisque arcu et pharetra pharetra. Fusce non congue leo. In consequat hendrerit fringilla. In condimentum, sapien quis venenatis finibus, leo lacus egestas purus, a feugiat magna dolor nec dui.
          br
          br
          
        h2  Mission 
        p
          | Mauris dolor tortor, ultricies efficitur odio quis, cursus posuere nisi. Nulla tincidunt diam et justo lobortis, id convallis metus vulputate. Pellentesque non sagittis nunc. Ut tempor nisi dapibus varius condimentum. Nulla non lectus leo. Suspendisse mollis, ligula nec efficitur placerat, arcu nisl fringilla dui, sed dictum tortor nibh non diam. Maecenas aliquet lorem vel bibendum fringilla. Sed aliquam laoreet nisl, sed consequat urna bibendum id. Sed malesuada lectus quam, eu vehicula justo congue id. 
          br
          br
          
        h2  Vision 
        p
          | Suspendisse posuere laoreet dolor lacinia fermentum. Nunc a mi eget enim auctor molestie ut ut leo. Maecenas pellentesque imperdiet sem a molestie. Vestibulum congue, justo at vehicula rutrum, orci urna accumsan elit, in pretium ante lacus in sem. In tempus ipsum dapibus purus porttitor pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla imperdiet imperdiet dolor ultrices vulputate. Donec congue nibh et velit placerat, non dictum elit finibus. Ut commodo semper interdum. Vivamus a pulvinar libero. Donec vitae aliquam justo, id fermentum augue. Quisque maximus, ligula ut ornare porta, ante lorem tempus turpis, id porta nunc orci efficitur dui. Nulla in vestibulum magna, non vulputate eros. Sed faucibus enim eu sagittis elementum.
          
    .footer
      p  Footer 