doctype html

html 
	body
		h1 Please Enter Your Information:
		
		form(action = "/customersignup", method = "post")  
			div.input
				span.label Username
				input(type = "text" , name = "username")
				
			div.input
				span.label Password
				input(type = "password" , name = "password")
				
			div.input
				span.label First Name
				input(type = "text" , name = "firstName")
				
			div.input
				span.label Last Name
				input(type = "text" , name = "lastName")
				
			div.input  
				span.label Phone Number
				input(type = "text" , "phoneno")
				
			div.input
				span.label Email
				input(type = "text" , "email")
				
			div.actions
				input(type = "submit", value = "done")
