doctype html
   
html

    head
      title Willow
      
      // stylesheet
      link(href='index_style.css', rel = 'stylesheet')
      
      
    // Header
    .header
      img(src='Logo_banner.png', style='display: block; margin-right: auto;  width: 10%;')
      .header-right
        a.active(href='#home') Home
        a(href='#contact') Contact
        a(href='#about') About
        a(href='#login') Login
        a(href='#faq') FAQ
        a(href='#contact') Contact
        
    // image banner
    .image_banner
      a.text_banner Find your dream home today
    
    body
        p(style='text-align:center;') Please choose a login option:
        form(action='/login', method='post', style='margin: auto; width: 150px;')
          div.actions
            input(type='submit', name='action', value='customer')
            input(type='submit', name='action', value='realtor')
            
        p(style='text-align:center;') Or sign up here: 
        form(action='/register', method='post', style='margin: auto; width: 150px;')
          div.actions
            input(type='submit', name='action', value='customer')
            input(type='submit', name='action', value='realtor')
            
    .footer
      p  Footer 
