/* image banner */
.image_banner {
  background: url(willowcity_banner.jpeg);
  background-size: cover;
  height: 500px ; 
  background-position: 20% 100%;
  overflow: hidden;
}

.image_banner a.text_banner {
    position: fixed;
    resize: none;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 90px;
    font-family: Bodoni;
    color: white;
    white-space: nowrap;
    overflow: visible;
}

.header {
  overflow: hidden;
  background-color: white;
  padding: 10px ;
}

/* footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #304d0b;
   color: white;
   text-align: center;
}


/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #a7d06b;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.header_line {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background-color: #1c4105;
    color: white;
    text-align: center;
}

/* Edit headings and paragraphs */

h1{
    font-family: Optima, sans-serif;
    color: #9bbe5e;
    font-size: 60px;
}
h2{
    font-family: Optima, sans-serif;
    color: #90c732;
    font-size: 30px;
}
p{
    font-family: Geneva;
    
}