doctype html

html
	head
	title Empty Field Found
	
	body
		h1 Empty Field Found
		h2 Please try again
		
		form(action="/realtorsignuperror",method="post")
			div.actions 
				input(type = "submit", name = "action" , value = "try again") 
