doctype html

html

	body
		h1 Change Password 
		
		form(action = "/realtorchangepassword", method = "post") 
			div.input
				span.label New Password
				input(type = "password", name = "password")
				
			div.actions 
				input(type = "submit", name = "action" , value = "done")
