doctype html
   
html
	head 
	title Login
	
	body h1 Please enter login info
	form(name="login", action="/index.html", method="post")
		div.input
			span.label User Name
			input(type="text",name="username")
			
		div.input
			span.label Password
			input(type = "password", name = "password)

